.input-group-text {
    width: 25%;
}

.enteteform{
    font-size: 130%;
    text-align: center;
}

header {
    font-size: 250%;
    color: white;
    background-color: black;
    text-align: center;
}

.form1 {
    margin-top: 10%;
    background-color: darkgrey;
    border-radius: 30px;
padding: 2em;
    display: flex;
    justify-content: center;
    width: 30%;
    margin-left: 35%;
  
}

.input-group {
    margin: 1em;
    margin-left: 0em;
}

.radio {
    margin: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.labradio {
    margin-right:  2em;
    
}

.date {
    display: flex;
    justify-content: center;
}

.btnsub {
    display: flex;
    justify-content: center;
}

.imposable {
    background-image: url(../images/pauvre.jpg);
    background-size: 100%;
    font-size: 250%;
    text-align: center;
}

.nonimposable{
    background-image: url(../images/riche.jpg);
    background-size: 100%;
    font-size: 250%;
    text-align: center;
    color: white;
}